__World Electricity Data Analysis Project__

__Import Libraries__

In [1]:
import pandas as pd

__Read and convert Json File to csv__

In [2]:
data=pd.read_json(r"C:\Users\ROSHAN KAMBLE\Downloads\API_EG.ELC.ACCS.RU.ZS_DS2_en_csv_v2_4364070.json")
data1=data.drop(0)
data1.columns=data1.iloc[0]
data1=data1.drop(1)
data1.reset_index().drop(['index'],axis=1)
data1.to_csv('Electricty_rural.csv',index=False)

In [3]:
data=pd.read_json(r"C:\Users\ROSHAN KAMBLE\Downloads\API_EG.ELC.ACCS.ZS_DS2_en_csv_v2_4353549.json")
data1=data.drop(0)
data1.columns=data1.iloc[0]
data1=data1.drop(1)
data1.reset_index().drop(['index'],axis=1)
data1.to_csv('Electricty_total.csv',index=False)

In [4]:
data=pd.read_json(r"C:\Users\ROSHAN KAMBLE\Downloads\API_EG.ELC.ACCS.UR.ZS_DS2_en_csv_v2_4367536.json")
data1=data.drop(0)
data1.columns=data1.iloc[0]
data1=data1.drop(1)
data1.reset_index().drop(['index'],axis=1)
data1.to_csv('Electricty_urban.csv',index=False)

In [5]:
data=pd.read_json(r"C:\Users\ROSHAN KAMBLE\Downloads\API_EG.ELC.LOSS.ZS_DS2_en_csv_v2_4357259.json")
data1=data.drop(0)
data1.columns=data1.iloc[0]
data1=data1.drop(1)
data1.reset_index().drop(['index'],axis=1)
data1.to_csv('Electricty_PT_lossess.csv',index=False)

In [6]:
data=pd.read_json(r"C:\Users\ROSHAN KAMBLE\Downloads\API_EG.ELC.NUCL.ZS_DS2_en_csv_v2_4357319.json")
data1=data.drop(0)
data1.columns=data1.iloc[0]
data1=data1.drop(1)
data1.reset_index().drop(['index'],axis=1)
data1.to_csv('Electricty_Nuclear.csv',index=False)

In [7]:
data=pd.read_json(r"C:\Users\ROSHAN KAMBLE\Downloads\API_EG.ELC.PETR.ZS_DS2_en_csv_v2_4356435.json")
data1=data.drop(0)
data1.columns=data1.iloc[0]
data1=data1.drop(1)
data1.reset_index().drop(['index'],axis=1)
data1.to_csv('Electricty_oil.csv',index=False)

In [8]:
data=pd.read_json(r"C:\Users\ROSHAN KAMBLE\Downloads\API_EG.ELC.RNWX.KH_DS2_en_csv_v2_4356007.json")
data1=data.drop(0)
data1.columns=data1.iloc[0]
data1=data1.drop(1)
data1.reset_index().drop(['index'],axis=1)
data1.to_csv('Electricty_Renewable.csv',index=False)

__Assigning variable to sv files to check the data__

In [9]:
rural=pd.read_csv('Electricty_rural.csv')
urban=pd.read_csv('Electricty_urban.csv')
total=pd.read_csv('Electricty_total.csv')
nuclear=pd.read_csv('Electricty_Nuclear.csv')
oil=pd.read_csv('Electricty_oil.csv')
renewable=pd.read_csv('Electricty_Renewable.csv')
lossess=pd.read_csv('Electricty_PT_lossess.csv')

In [10]:
rural.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960.0', '1961.0', '1962.0', '1963.0', '1964.0', '1965.0', '1966.0',
       '1967.0', '1968.0', '1969.0', '1970.0', '1971.0', '1972.0', '1973.0',
       '1974.0', '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0',
       '1981.0', '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0',
       '1988.0', '1989.0', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021.0',
       'Unnamed: 66'],
      dtype='object')

In [11]:
year_cols=['1960.0', '1961.0', '1962.0', '1963.0', '1964.0', '1965.0', '1966.0',
       '1967.0', '1968.0', '1969.0', '1970.0', '1971.0', '1972.0', '1973.0',
       '1974.0', '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0',
       '1981.0', '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0',
       '1988.0', '1989.0', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021.0']
year_cols

['1960.0',
 '1961.0',
 '1962.0',
 '1963.0',
 '1964.0',
 '1965.0',
 '1966.0',
 '1967.0',
 '1968.0',
 '1969.0',
 '1970.0',
 '1971.0',
 '1972.0',
 '1973.0',
 '1974.0',
 '1975.0',
 '1976.0',
 '1977.0',
 '1978.0',
 '1979.0',
 '1980.0',
 '1981.0',
 '1982.0',
 '1983.0',
 '1984.0',
 '1985.0',
 '1986.0',
 '1987.0',
 '1988.0',
 '1989.0',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021.0']

In [12]:
rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,Unnamed: 66
0,Aruba,ABW,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,NaN,NaN
1,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.64176,30.404935,NaN,NaN
2,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.566135,86.500511,64.573357,97.099358,97.091972,95.586174,97.07563,97.066711,NaN,NaN
3,Africa Western and Central,AFW,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,23.294078,22.549825,22.780592,27.380220,NaN,NaN,NaN,25.466795,NaN,NaN
4,Angola,AGO,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.815067,NaN,NaN,7.333445,NaN,NaN,NaN,NaN

In [13]:
urban.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960.0', '1961.0', '1962.0', '1963.0', '1964.0', '1965.0', '1966.0',
       '1967.0', '1968.0', '1969.0', '1970.0', '1971.0', '1972.0', '1973.0',
       '1974.0', '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0',
       '1981.0', '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0',
       '1988.0', '1989.0', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021.0',
       'Unnamed: 66'],
      dtype='object')

In [14]:
urban.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,Unnamed: 66
0,Aruba,ABW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
1,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,67.112206,66.283426,67.080235,69.132292,70.928567,71.866136,73.332842,73.942949,NaN,NaN
2,Afghanistan,AFG,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,92.259048,98.699997,92.500000,99.500000,99.500000,99.626022,99.500000,99.500000,NaN,NaN
3,Africa Western and Central,AFW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.848614,79.529235,78.247876,81.571517,NaN,NaN,NaN,83.220065,NaN,NaN
4,Angola,AGO,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.662224,51.000000,64.000000,67.973396,69.411171,65.269997,72.277184,73.708916,NaN,NaN

In [15]:
total.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,Unnamed: 66
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.290649,89.500000,71.500000,97.699997,97.699997,96.616135,97.699997,97.699997,NaN,NaN
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,47.048316,47.599323,46.766294,50.953487,48.861191,51.259712,51.290193,52.111601,NaN,NaN
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.278030,32.000000,42.000000,41.813129,43.013260,45.290001,45.642799,46.890610,NaN,NaN

In [16]:
nuclear.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,Unnamed: 66
0,Aruba,ABW,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.732574,3.580038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
oil.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,Unnamed: 66
0,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.122915,3.193329,3.330766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.893668,7.425639,7.820248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,41.979065,46.824895,46.825072,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
renewable.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,Unnamed: 66
0,Aruba,ABW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,3.669000e+09,7.687000e+09,1.092600e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,2.220000e+08,2.330000e+08,2.800000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
lossess.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,Unnamed: 66
0,Aruba,ABW,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.393182,10.594766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.200660,17.903147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.270691,11.265823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

__Dropping the null values where complete column is null__

In [20]:
rural=rural.dropna(axis="columns",how='all')
urban=urban.dropna(axis="columns",how='all')
total=total.dropna(axis="columns",how='all')
nuclear=nuclear.dropna(axis="columns",how='all')
oil=oil.dropna(axis="columns",how='all')
renewable=renewable.dropna(axis="columns",how='all')
lossess=lossess.dropna(axis="columns",how='all')

__covert years into rows with respect to its values__

In [21]:
cat_cols=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']

In [22]:
year_cols_rural=['1960.0', '1961.0', '1962.0', '1963.0', '1964.0', '1965.0', '1966.0',
       '1967.0', '1968.0', '1969.0', '1970.0', '1971.0', '1972.0', '1973.0',
       '1974.0', '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0',
       '1981.0', '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0',
       '1988.0', '1989.0', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021.0']

In [23]:
rural.fillna(0,inplace=True)

In [ ]:
rural1=rural[cat_cols].merge(rural.set_index('Country Code')[year_cols].stack().reset_index(),on='Country Code')
Rural=rural1.rename(columns={'level_1':'Year_Column',0:'Value_Column'})
Rural.head()

In [ ]:
Rural.to_csv('Final_rural.csv',index=False)

__for Urban__

In [ ]:
years_cols_urban=['1960.0', '1961.0', '1962.0', '1963.0', '1964.0', '1965.0', '1966.0',
       '1967.0', '1968.0', '1969.0', '1970.0', '1971.0', '1972.0', '1973.0',
       '1974.0', '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0',
       '1981.0', '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0',
       '1988.0', '1989.0', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021.0']

In [ ]:
urban.fillna(0,inplace=True)

In [ ]:
urban1=urban[cat_cols].merge(urban.set_index('Country Code')[year_cols_urban].stack().reset_index(),on='Country Code')
Urban=urban1.rename(columns={'level_1':'Year_Column',0:'Value_Column'})
Urban.head()

In [ ]:
Urban.to_csv('Final_urban.csv',index=True)

__for Total__

In [ ]:
years_cols_total=[ '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020']

In [ ]:
total.fillna(0,inplace=True)
total

In [ ]:
total1=total[cat_cols].merge(total.set_index('Country Code')[years_cols_total].stack().reset_index(),on='Country Code')
Total=total1.rename(columns={'level_1':'Year_Column',0:'Value_Column'})
Total.head()

In [ ]:
Total.to_csv('Final_Total1.csv',index=False)

__for_nuclear__

In [ ]:
years_cols_nuclear=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015']

In [ ]:
nuclear.fillna(0,inplace=True)

In [ ]:
nuclear1=nuclear[cat_cols].merge(nuclear.set_index('Country Code')[years_cols_nuclear].stack().reset_index(),on='Country Code')
Nuclear=nuclear1.rename(columns={'level_1':'Year_Column',0:'Value_Column'})
Nuclear.head()

In [ ]:
Nuclear.to_csv('Final_nuclear.csv',index=False)

In [ ]:
years_cols_oil=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015']

In [ ]:
oil.fillna(0,inplace=True)

In [ ]:
oil1=oil[cat_cols].merge(oil.set_index('Country Code')[years_cols_oil].stack().reset_index(),on='Country Code')
Oil=oil1.rename(columns={'level_1':'Year_Column',0:'Value_Column'})
Oil.head()

In [ ]:
Oil.to_csv('Final_oil.csv',index=False)

__for Renewable__

In [ ]:
years_cols_renewable=['1960.0', '1961.0', '1962.0', '1963.0', '1964.0', '1965.0', '1966.0',
       '1967.0', '1968.0', '1969.0', '1970.0', '1971.0', '1972.0', '1973.0',
       '1974.0', '1975.0', '1976.0', '1977.0', '1978.0', '1979.0', '1980.0',
       '1981.0', '1982.0', '1983.0', '1984.0', '1985.0', '1986.0', '1987.0',
       '1988.0', '1989.0', '1990.0', '1991.0', '1992.0', '1993.0', '1994.0',
       '1995.0', '1996.0', '1997.0', '1998.0', '1999.0', '2000.0', '2001.0',
       '2002.0', '2003.0', '2004.0', '2005.0', '2006.0', '2007.0', '2008.0',
       '2009.0', '2010.0', '2011.0', '2012.0', '2013.0', '2014.0', '2015.0']

In [ ]:
renewable.fillna(0,inplace=True)

In [ ]:
renewable1=renewable[cat_cols].merge(renewable.set_index('Country Code')[years_cols_renewable].stack().reset_index(),on='Country Code')
Renewable=renewable1.rename(columns={'level_1':'Year_Column',0:'Value_Column'})
Renewable.head()

In [ ]:
Renewable.to_csv('Final_renewable.csv',index=False)

__for losses__

In [ ]:
years_cols_losses=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014']

In [ ]:
lossess.fillna(0,inplace=True)

In [ ]:
losses1=lossess[cat_cols].merge(lossess.set_index('Country Code')[years_cols_losses].stack().reset_index(),on='Country Code')
Losses=losses1.rename(columns={'level_1':'Year_Column',0:'Value_Column'})
Losses.head()

In [ ]:
Losses.dtypes

In [ ]:
Losses.to_csv('Final_losses.csv',index=False)

__saving the final clean data into different csv file__